@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*Конец обнуляющих тегов*/

::-moz-selection {
  color: #fff;
  background-color: rgba(38, 75, 197, 0.842);
}

::selection {
  color: #fff;
  background-color: rgba(38, 75, 197, 0.842);
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

body .wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

body .wrapper .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 70px;
}

body.body-lock {
  overflow: hidden;
}

.header-dark-block {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: -100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: left 0.3s ease 0s;
  -o-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s;
}

.dark-block-modif {
  left: 0;
  -webkit-transition: left 0.3s ease 0s;
  -o-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
}

.header .header__body .header__logo {
  font-weight: 700;
  min-width: 70px;
  z-index: 5;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  font-size: calc(22px + (36 - 22) * ((100vw - 320px) / (1200 - 320)));
}

.header .header__body .header__logo .f-cld {
  color: #555ff0;
  text-shadow: 0px 0px 3px #555ff0;
}

.header .header__body .header__logo .l-cld {
  color: #fff;
}

.header .header__body .header__logo.black-links .l-cld {
  color: #000;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header .header__body .navigation__icon {
  display: none;
  color: #fff;
}

.header .header__body .navigation__icon.otherIcon span {
  color: #fff;
}

.header .header__body .navigation__menu.black-links .navigation__list li .navigation__link {
  color: #555ff0;
}

.header .header__body .navigation__menu.black-links .navigation__list li .navigation__link:hover {
  text-shadow: 0px 0px 1px #555ff0;
}

.header .header__body .navigation__menu .navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1200 - 320)));
}

.header .header__body .navigation__menu .navigation__list li {
  margin: 0px 0px 0px 1.3em;
}

.header .header__body .navigation__menu .navigation__list li:hover {
  text-shadow: 0px 0px 5px #fff;
}

.header .header__body .navigation__menu .navigation__list li .navigation__link {
  color: #fff;
}

.header.skroll-bcg {
  background-color: #f0f0f0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header.skroll-bcg .header__navigation .navigation__icon {
  color: #555ff0;
}

.header.other-header {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.header.other-header .header__logo .l-cld {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #000;
}

.header.other-header .header__logo .l-cld.other-white-links {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
}

.header.other-header .navigation__menu .navigation__list li .navigation__link {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #555ff0;
}

.header.other-header .navigation__menu .navigation__list li .navigation__link:hover {
  text-shadow: 0px 0px 1px #555ff0;
}

.header.other-header .navigation__menu .navigation__list li .navigation__link.other-white-links {
  color: #fff;
}

.title {
  font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1200 - 320)));
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.bottom-margin {
  margin: 0px 0px 80px 0px;
}

.max-width-container {
  margin: 0px auto;
  max-width: 1200px;
  padding: 0px 15px;
}

.footer {
  position: relative;
  width: 100%;
  z-index: 2;
}

.footer .footer__content {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template: 1fr/1fr auto 1fr;
  color: #808080;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));
  padding: 20px 0px;
}

.footer .footer__content .footer__links {
  text-align: start;
}

.footer .footer__content .footer__links .footer__title {
  margin: 0px 0px 15px 0px;
}

.footer .footer__content .footer__links .footer__contacts a {
  margin: 0px 10px 0px 0px;
}

.footer .footer__content .footer__links .footer__contacts a:last-child {
  margin: 0px;
}

.footer .footer__content .footer__links .footer__contacts .YT-contact {
  color: #f00;
}

.footer .footer__content .footer__links .footer__contacts .YT-contact:hover {
  text-shadow: 0px 0px 1px #f00;
}

.footer .footer__content .footer__links .footer__contacts .VK-contact {
  color: #0077ff;
}

.footer .footer__content .footer__links .footer__contacts .VK-contact:hover {
  text-shadow: 0px 0px 1px #0077ff;
}

.footer .footer__content .footer__links .footer__contacts .Rddt-contact {
  color: #ff4500;
}

.footer .footer__content .footer__links .footer__contacts .Rddt-contact:hover {
  text-shadow: 0px 0px 1px #ff4500;
}

.footer .footer__content .footer__year {
  text-align: center;
}

.footer .footer__content .footer__info {
  text-align: end;
}

.footer .footer__content::before {
  content: "";
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #555ff0;
}

.top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.top-button .top-button__body {
  padding: 10px;
  background-color: rgba(221, 221, 221, 0.5);
  border-radius: 10px;
}

.top-button .top-button__body span {
  font-size: calc(25px + (40 - 25) * ((100vw - 320px) / (1200 - 320)));
}

.top-button.top-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  z-index: 4;
  background-color: #fff;
  overflow-y: auto;
  -webkit-transition: left 0.3s linear 0s;
  -o-transition: left 0.3s linear 0s;
  transition: left 0.3s linear 0s;
}

.sidebar .sidebar__content {
  margin: 70px 0px 0px 0px;
}

.sidebar .sidebar__content .sidebar__arrow {
  position: fixed;
  top: 100px;
  left: 5px;
  display: none;
  -webkit-transition: left 0.3s linear 0s;
  -o-transition: left 0.3s linear 0s;
  transition: left 0.3s linear 0s;
}

.sidebar .sidebar__content .sidebar__arrow span {
  padding: 10px;
  color: #fff;
  background-color: #555ff0;
  border-radius: 50%;
  font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 0px #555ff0;
          box-shadow: 0px 0px 5px 0px #555ff0;
}

.sidebar .sidebar__content .sidebar__arrow.move-arrow {
  left: 200px;
  -webkit-transition: left 0.3s linear 0s;
  -o-transition: left 0.3s linear 0s;
  transition: left 0.3s linear 0s;
}

.sidebar .sidebar__content .sidebar__arrow.move-arrow span {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sidebar .sidebar__content .sidebar__body {
  padding: 10px 20px;
  position: relative;
}

.sidebar .sidebar__content .sidebar__body .sidebar__title {
  position: relative;
  margin: 0px 0px 40px 0px;
  color: #555ff0;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));
  text-align: center;
}

.sidebar .sidebar__content .sidebar__body .sidebar__title::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -15px;
  width: 100%;
  height: 2px;
  background-color: #555ff0;
}

.sidebar .sidebar__content .sidebar__body .sidebar-info {
  background: -o-linear-gradient(300deg, #37b6ff, #7119ff);
  background: linear-gradient(150deg, #37b6ff, #7119ff);
  border-radius: 10px;
  margin: 0px 0px 20px 0px;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(155, 155, 155, 0.8);
          box-shadow: 0px 2px 5px 1px rgba(155, 155, 155, 0.8);
}

.sidebar .sidebar__content .sidebar__body .sidebar-info .sidebar-info__body {
  position: relative;
}

.sidebar .sidebar__content .sidebar__body .sidebar-info .sidebar-info__body .sidebar-info__close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.sidebar .sidebar__content .sidebar__body .sidebar-info .sidebar-info__body .sidebar-info__close span {
  font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1200 - 320)));
  cursor: pointer;
  color: #fff;
}

.sidebar .sidebar__content .sidebar__body .sidebar-info .sidebar-info__body .sidebar-info__text {
  font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (1200 - 320)));
  color: #fff;
  padding: 5px 25px 5px 5px;
  line-height: normal;
}

.sidebar .sidebar__content .sidebar__body .sidebar__items .sidebar__item {
  margin: 0px 0px 15px 0px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.sidebar .sidebar__content .sidebar__body .sidebar__items .sidebar__item .item__body .item__image {
  width: 50px;
  margin: 0px 0px 10px 0px;
}

.sidebar .sidebar__content .sidebar__body .sidebar__items .sidebar__item .item__body .item__image img {
  width: 100%;
  border-radius: 5px;
}

.sidebar .sidebar__content .sidebar__body .sidebar__items .sidebar__item .item__body .item__name {
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));
}

.sidebar .sidebar__content .sidebar__body .sidebar__items .sidebar__item:hover {
  background-color: #f5f5ff;
}

.sidebar .sidebar__content .sidebar__body .sidebar__items .sidebar__item.hidden {
  display: none;
}

.sidebar.visible-sidebar {
  left: 0px;
  -webkit-transition: left 0.3s linear 0s;
  -o-transition: left 0.3s linear 0s;
  transition: left 0.3s linear 0s;
}

.sidebar.visible-sidebar .sidebar__backg {
  visibility: visible;
  opacity: 1;
}

.messanger__content .messanger__items .messanger__tabs {
  margin: 40px 0px 50px 0px;
}

.messanger__content .messanger__items .messanger__tabs .tabs__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.messanger__content .messanger__items .messanger__tabs .tabs__content .tabs__people-tab {
  position: relative;
}

.messanger__content .messanger__items .messanger__tabs .tabs__content .tabs__people-tab .people__link {
  font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1200 - 320)));
  color: #555ff0;
  cursor: pointer;
  padding: 10px 20px;
}

.messanger__content .messanger__items .messanger__tabs .tabs__content .tabs__people-tab .people__sub-line {
  position: absolute;
  left: 0;
  top: 100%;
  height: 2px;
  width: 100%;
  background-color: #555ff0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.messanger__content .messanger__items .messanger__tabs .tabs__content .tabs__people-tab .people__sub-line.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.messanger__content .messanger__items .messanger__tabs .tabs__content .tabs__message-tab {
  position: relative;
}

.messanger__content .messanger__items .messanger__tabs .tabs__content .tabs__message-tab .message__link {
  font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1200 - 320)));
  color: #555ff0;
  cursor: pointer;
  padding: 10px 20px;
}

.messanger__content .messanger__items .messanger__tabs .tabs__content .tabs__message-tab .message__sub-line {
  position: absolute;
  left: 0;
  top: 100%;
  height: 2px;
  width: 100%;
  background-color: #555ff0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.messanger__content .messanger__items .messanger__tabs .tabs__content .tabs__message-tab .message__sub-line.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.messanger__content .messanger__items .messanger__blocks .people {
  display: none;
}

.messanger__content .messanger__items .messanger__blocks .people .people-info {
  background: -o-linear-gradient(300deg, #37b6ff, #7119ff);
  background: linear-gradient(150deg, #37b6ff, #7119ff);
  border-radius: 10px;
  margin: 0px 0px 50px 0px;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(155, 155, 155, 0.8);
          box-shadow: 0px 2px 5px 1px rgba(155, 155, 155, 0.8);
}

.messanger__content .messanger__items .messanger__blocks .people .people-info .people-info__body {
  position: relative;
}

.messanger__content .messanger__items .messanger__blocks .people .people-info .people-info__body .people-info__close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.messanger__content .messanger__items .messanger__blocks .people .people-info .people-info__body .people-info__close span {
  font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1200 - 320)));
  cursor: pointer;
  color: #fff;
}

.messanger__content .messanger__items .messanger__blocks .people .people-info .people-info__body .people-info__text {
  font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1200 - 320)));
  line-height: normal;
  color: #fff;
  padding: 10px 40px 10px 10px;
  line-height: normal;
}

.messanger__content .messanger__items .messanger__blocks .people .people__content {
  display: -ms-grid;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.messanger__content .messanger__items .messanger__blocks .people .people__content .people__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
}

.messanger__content .messanger__items .messanger__blocks .people .people__content .people__item .people__photo {
  width: 70px;
  margin: 0px 10px 0px 0px;
}

.messanger__content .messanger__items .messanger__blocks .people .people__content .people__item .people__photo img {
  width: 100%;
  border-radius: 5px;
}

.messanger__content .messanger__items .messanger__blocks .people .people__content .people__item .people__name {
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));
}

.messanger__content .messanger__items .messanger__blocks .people .people__content .people__item .people__button {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.397);
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.messanger__content .messanger__items .messanger__blocks .people .people__content .people__item .people__button span {
  font-size: calc(24px + (26 - 24) * ((100vw - 320px) / (1200 - 320)));
  cursor: pointer;
  color: #fff;
}

.messanger__content .messanger__items .messanger__blocks .people .people__content .people__item:hover .people__button {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.messanger__content .messanger__items .messanger__blocks .people .people__content .people__item.mobile-visible .people__button {
  visibility: visible;
  opacity: 1;
}

.messanger__content .messanger__items .messanger__blocks .people.visible {
  display: block;
}

.messanger__content .messanger__items .messanger__blocks .message {
  display: none;
}

.messanger__content .messanger__items .messanger__blocks .message .message__info .info__body {
  padding: 40px 20px;
}

.messanger__content .messanger__items .messanger__blocks .message .message__info .info__body .info__text {
  font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1200 - 320)));
  text-align: center;
  color: #adadad;
  cursor: default;
}

.messanger__content .messanger__items .messanger__blocks .message .message__content {
  max-width: 700px;
  margin: 0px auto;
}

.messanger__content .messanger__items .messanger__blocks .message .message__content .message__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.messanger__content .messanger__items .messanger__blocks .message .message__content .message__item .message__friend-name .friend-name__body {
  margin: 0px 0px 30px 0px;
}

.messanger__content .messanger__items .messanger__blocks .message .message__content .message__item .message__friend-name .friend-name__body .friend-name__text {
  text-align: center;
  font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1200 - 320)));
  color: #555ff0;
}

.messanger__content .messanger__items .messanger__blocks .message .message__content .message__item .message__field {
  height: 100%;
  overflow: auto;
  margin: 0px 0px 10px 0px;
  padding: 0px 15px 0px 0px;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));
  line-height: normal;
}

.messanger__content .messanger__items .messanger__blocks .message .message__content .message__item .message__field .message__my-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0px 0px 20px 0px;
}

.messanger__content .messanger__items .messanger__blocks .message .message__content .message__item .message__field .message__my-message .my-message__body {
  max-width: 65%;
  padding: 10px;
  border-radius: 15px;
  background-color: #8a92ff;
  color: #fff;
}

.messanger__content .messanger__items .messanger__blocks .message .message__content .message__item .message__field .message__my-message.hidden {
  display: none;
}

.messanger__content .messanger__items .messanger__blocks .message .message__content .message__item .message__field .message__friend-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 20px 0px;
}

.messanger__content .messanger__items .messanger__blocks .message .message__content .message__item .message__field .message__friend-message .friend-message__body {
  max-width: 65%;
  padding: 10px;
  border-radius: 15px;
  background-color: #f5f5f5;
}

.messanger__content .messanger__items .messanger__blocks .message .message__content .message__item .message__field .message__friend-message.hidden {
  display: none;
}

.messanger__content .messanger__items .messanger__blocks .message .message__content .message__item .message__instruments .instruments__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.messanger__content .messanger__items .messanger__blocks .message .message__content .message__item .message__instruments .instruments__body .instruments__alert {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  left: 0;
  bottom: 100px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.messanger__content .messanger__items .messanger__blocks .message .message__content .message__item .message__instruments .instruments__body .instruments__alert .alert__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffe77d;
  padding: 5px 10px;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));
  border-radius: 5px;
}

.messanger__content .messanger__items .messanger__blocks .message .message__content .message__item .message__instruments .instruments__body .instruments__alert .alert__body span {
  margin: 0px 0px 0px 10px;
}

.messanger__content .messanger__items .messanger__blocks .message .message__content .message__item .message__instruments .instruments__body .instruments__alert.visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.messanger__content .messanger__items .messanger__blocks .message .message__content .message__item .message__instruments .instruments__body .instruments__textarea {
  width: 100%;
}

.messanger__content .messanger__items .messanger__blocks .message .message__content .message__item .message__instruments .instruments__body .instruments__textarea form textarea {
  resize: none;
  width: 100%;
  border: 2px solid #555ff0;
  border-radius: 10px;
  padding: 5px;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));
}

.messanger__content .messanger__items .messanger__blocks .message .message__content .message__item .message__instruments .instruments__body .instruments__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  background-color: #555ff0;
  font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1200 - 320)));
  cursor: pointer;
  margin: 0px 0px 0px 15px;
  -webkit-box-shadow: 0px 0px 4px 0px #555ff0;
          box-shadow: 0px 0px 4px 0px #555ff0;
}

.messanger__content .messanger__items .messanger__blocks .message .message__content .message__item .message__instruments .instruments__body .instruments__button:hover {
  background-color: #3d49e9;
  -webkit-box-shadow: 0px 0px 5px 0px #3d49e9;
          box-shadow: 0px 0px 5px 0px #3d49e9;
}

.messanger__content .messanger__items .messanger__blocks .message .message__content .message__item.hidden {
  display: none;
}

.messanger__content .messanger__items .messanger__blocks .message.visible {
  display: block;
}

@media (min-width: 2000px) {
  .sidebar {
    width: 250px;
  }
}

@media (max-width: 1580px) {
  .sidebar {
    left: -200px;
  }

  .sidebar .sidebar__backg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.4);
    visibility: hidden;
    opacity: 0;
  }

  .sidebar .sidebar__content .sidebar__arrow {
    display: block;
  }
}

@media (max-width: 767px) {
  body .wrapper .content {
    margin-top: 50px;
  }

  .header .header__body {
    min-height: 50px;
    padding: 5px 0px;
  }

  .header .header__body .navigation__icon {
    display: block;
    z-index: 5;
    position: relative;
    cursor: pointer;
  }

  .header .header__body .navigation__icon span {
    font-size: calc(30px + (40 - 30) * ((100vw - 320px) / (1200 - 320)));
  }

  .header .header__body .navigation__menu {
    position: fixed;
    left: -100%;
    top: 50px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 30px;
    overflow: auto;
  }

  .header .header__body .navigation__menu.active {
    left: 0;
  }

  .header .header__body .navigation__menu .navigation__list {
    display: block;
  }

  .header .header__body .navigation__menu .navigation__list li {
    margin: 0px;
    padding: 0px 0px 25px 0px;
  }

  .header .header__body .navigation__menu .navigation__list li:last-child {
    padding: 0px;
  }

  .header .header__body .navigation__menu .navigation__list li .navigation__link {
    display: block;
  }

  .title {
    margin: 0px 0px 20px 0px;
  }

  .bottom-margin {
    margin: 0px 0px 35px 0px;
  }

  .footer .footer__content {
    padding: 10px 0px;
  }

  .top-button {
    bottom: 70px;
    right: 10px;
  }

  .sidebar .sidebar__content {
    margin: 50px 0px 0px 0px;
  }

  .sidebar .sidebar__content .sidebar__arrow {
    top: 55px;
  }

  .sidebar .sidebar__content .sidebar__arrow.move-arrow {
    left: 190px;
  }

  .sidebar .sidebar__content .sidebar__body .sidebar__title {
    margin: 0px 0px 30px 0px;
  }

  .messanger__content .messanger__items .messanger__tabs {
    margin: 20px 0px 25px 0px;
  }

  .messanger__content .messanger__items .messanger__blocks .people .people-info {
    margin: 0px 0px 25px 0px;
  }

  .messanger__content .messanger__items .messanger__blocks .people .people__content {
    gap: 20px;
  }

  .messanger__content .messanger__items .messanger__blocks .people .people__content .people__item .people__photo {
    width: 50px;
  }

  .messanger__content .messanger__items .messanger__blocks .message .message__content .message__item .message__friend-name .friend-name__body {
    margin: 0px 0px 15px 0px;
  }
}

@media (max-width: 425px) {
  .footer .footer__content .footer__links .footer__contacts a {
    display: block;
    margin: 0px 0px 10px 0px;
  }

  .sidebar .sidebar__content .sidebar__body .sidebar__items .sidebar__item {
    margin: 0px 0px 10px 0px;
  }
}